<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://use.fontawesome.com/c3a0b0a766.js"></script>


    <!--     custom favicon below 2 links 
 -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/gif" href="animated_favicon1.gif">

</head>

<body>
    
<div class="container">
    <div class="text-center">
        <br></br>
        <hr>
        <h1>This is the home.html view</h1>
        <p class="lead">This is just  p line. </p>
    </div>
    
        <!--<h2>Latest Events</h2>-->
        <div class="container" id="bar" >
        <ul class = "social list-inline">
            <li>
                <a href="/auth/google" class = "googleplus"><i class="fa fa-google-plus fa-5x"></i></a>
            </li>
        </ul>
        </div>
 </div>   <!-- /.container -->
</body>

</html>
