/*
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

body {
	border:6px #00BCD4;
  background-color: rgba(100,190,337,0.8);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent 
background: -moz-linear-gradient(top,  rgba(60,156,221,0) 0%, rgba(60,156,221,0.9) 15%, rgba(60,156,221,1) 19%, rgba(30,87,153,1) 20%, rgba(125,212,250,1) 50%, rgba(60,156,221,1) 80%, rgba(60,156,221,1) 81%, rgba(60,156,221,0.8) 85%, rgba(60,156,221,0) 100%); /* FF3.6-15 */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(60,156,221,1)), color-stop(81%,rgba(60,156,221,1)), color-stop(85%,rgba(60,156,221,0.8)), color-stop(100%,rgba(60,156,221,0))); /* Chrome4-9,Safari4-5 */
/*background: -webkit-linear-gradient(top,  rgba(60,156,221,0) 0%,rgba(60,156,221,,0.9) 15%,rgba(60,156,221,1) 19%,rgba(30,87,153,1) 20%,rgba(125,212,250,1) 50%,rgba(60,156,221,1) 80%,rgba(60,156,221,1) 81%,rgba(60,156,221,0.8) 85%,rgba(60,156,221,0) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: -o-linear-gradient(top,  rgba(60,156,221,0) 0%,rgba(60,156,221,0.9) 15%,rgba(60,156,221,1) 19%,rgba(30,87,153,1) 20%,rgba(125,212,250,1) 50%,rgba(60,156,221,1) 80%,rgba(60,156,221,1) 81%,rgba(60,156,221,0.8) 85%,rgba(60,156,221,0) 100%); /* Opera 11.10-11.50 */
/*background: -ms-linear-gradient(top,  rgba(60,156,221,0) 0%,rgba(60,156,221,0.9) 15%,rgba(60,156,221,1) 19%,rgba(30,87,153,1) 20%,rgba(125,212,250,1) 50%,rgba(60,156,221,1) 80%,rgba(60,156,221,1) 81%,rgba(60,156,221,0.8) 85%,rgba(60,156,221,0) 100%); /* IE10 preview */
/*background: linear-gradient(to bottom,  rgba(60,156,221,0) 0%,rgba(60,156,221,0.9) 15%,rgba(60,156,221,1) 19%,rgba(30,87,153,1) 20%,rgba(125,212,250,1) 50%,rgba(60,156,221,1) 80%,rgba(60,156,221,1) 81%,rgba(60,156,221,0.8) 85%,rgba(60,156,221,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */

  /*padding: 20px;*/
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}
#bodyIndex{
  margin-top:0;

    /*display:table-cell;
    vertical-align:middle;
*/
  background-color: rgba(100,190,337,0.8);
 /*     padding: 15px;    
      border: 10px solid transparent;*/
 /*  border-image-slice: 
 #borderimg3 {
    -webkit-border-image: url(border.png) round;  Safari 3.1-5 
    -o-border-image: url(border.png) round; /* Opera 11-12.1 
    border-image: url(border.png) round;
    border-image-slice: 30%;
}*/
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  max-height: 300px;
  max-width:100%;
 }


.navbar {
background: rgb(73,155,234); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a {
  color: #00B7FF;
  /*color:#BDBDBD;*/
  margin-right:15px;
}

legend{
  font-size: 26px;
  font-family: "Roboto";
}
.navbar {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: rgb(44,83,158); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

textarea{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
background: rgb(242,249,254); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.authID{
  font:"Roboto";
  font-size: 32px;
  margin-left:15px;
}
.googleplus{
    padding:5px, 15px, 5px, 15px;
}

.twitter{
    padding:5px, 15px, 5px, 15px;
}

.fishtail { 
  height: 30px; 
  border-style: solid; 
  border-color: #00BCD4; 
  border-width: 10px 0 0 0; 
  border-radius: 20px; 
} 
.fishtail:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #00BCD4; 
  border-width: 0 0 5px 0; 
  border-radius: 20px; 
  color:black;
}
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #00BCD4; 
  border-width: 5px 0 0 0; 
  border-radius: 20px; 
  color:black;
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #303F9F; 
  border-width: 0 0 10px 0; 
  border-radius: 20px; 
}

#bar{
    padding:10px, 5px, 5px, 15px;
    background-color:rgba(44,83,158,1);
    border: solid 3px black;
    /*border-radius: 20px;*/
    font-family: 'Roboto';
    width:300px;
    text-align: center;
    padding:10px,0px;
    float:right;
}
.barH2{
  font-family: 'Roboto';
    font-size: 24px;
    color:#00B7FF;
    font-style: bold;

}

.form-group{
  font-family: 'Roboto';
  font-size: 18px;
}

.list-group{
  font-family: 'Roboto';
  font-size:larger;
}
#leadText{
    font-family: 'Roboto';
    font-size: 45px;
    -webkit-animation-duration: 2s;
    color:#212121;
/*    text-align: center;
*/}


#userImg{
    margin-top:80px;
    padding:20px, 20px, 20px, 20px;
}
.menuImg{
    width:200px;
    height:200px;
    border:2px black solid;
}

.badge{
    background:rgb(62, 132, 193);
    /*background: rgba(44, 83, 158, 0.8);*/
    color: rgb(217, 237, 247);
}

#btnFilterNotes{
    float: left;
}

.socialLine{
  text-align: center;
  /*padding-left:36em;*/
}
.introText{
    font-family: "Roboto";
    font-size: 22px;
    color:rgb(10,43,78);
    border-color: black 2px;
    border-radius: 20px;
    padding:20px;
    /*max-width: 100%    */
    /*display: :inline-block;*/
}
.introText2{
    font-family: "Roboto";
    font-size: 22px;
    color:white;
    border-color: black;
    /*border-radius: 20px;*/
    padding:20px;
    /*width:30%;*/
    /*display: :inline-block;*/

}

.imgB{
  height:300px; 
  width: 300px;
  float:right;
}
/*flip cards first page*/
figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: url(images/leaf.jpg) 0 0 no-repeat;
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: rgba(75,164,222,0.3);
}

.front .name {
  font-size: 1em;
  display: inline-block;
  background: rgba(44, 83, 158, 0.9);
  color: #f8f8f8;
  font-family: "Roboto";
  padding: 5px 10px;
  border-radius: 5px;
  top: 7px;
  right: 51%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
/*  background: url(images/publicity.jpg) 0 0 no-repeat;
*/}

.back-title {
  font-weight: bold;
  color: rgba(10,43,78, 0.8);
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: justify;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: "Roboto";
  font-size: 2em;
}

.back p {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px;
  font-family: "Roboto";
  font-weight: 900;
  font-size:1.5em;
  line-height: 2em;
  color:rgba(10,43,78,1);
}
/**********************/

.leaf{
  float:right;
  width:50px;
  height:50px;
}

/**********2nd page Pics *********/

/*---------------*/
/***** Zoe *****/
/*---------------*/
/*body {
    background: black;
    }
*/
@font-face {
    font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
  src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
    url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
    url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
    url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/*********************/
figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
  float: left;
}

figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31;
}

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #3E84C1;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
  content: '\e000';
}

.icon-paper-clip::before {
  content: '\e001';
}

.icon-heart::before {
  content: '\e024';
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe:hover p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
