/*
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }*/

body {
	border:4px #00BCD4;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10 preview */
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */

  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#bodyIndex{
    /*display:table-cell;
    vertical-align:middle;
*/
  background-color: #303F9F;
      padding: 15px;    
      border: 10px solid transparent;
 /*  border-image-slice: 
 #borderimg3 {
    -webkit-border-image: url(border.png) round;  Safari 3.1-5 
    -o-border-image: url(border.png) round; /* Opera 11-12.1 
    border-image: url(border.png) round;
    border-image-slice: 30%;
}*/
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
 }


.navbar {
background: rgb(73,155,234); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a {
  color: #00B7FF;
}

.navbar {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: rgb(44,83,158); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

textarea{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
background: rgb(242,249,254); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.googleplus{
    padding:5px, 15px, 5px, 15px;
}

.twitter{
    padding:5px, 15px, 5px, 15px;
}

.fishtail { 
  height: 30px; 
  border-style: solid; 
  border-color: #00BCD4; 
  border-width: 10px 0 0 0; 
  border-radius: 20px; 
} 
.fishtail:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #00BCD4; 
  border-width: 0 0 5px 0; 
  border-radius: 20px; 
  color:black;
}
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #00BCD4; 
  border-width: 5px 0 0 0; 
  border-radius: 20px; 
  color:black;
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #303F9F; 
  border-width: 0 0 10px 0; 
  border-radius: 20px; 
}

#bar{
    padding:10px, 5px, 5px, 15px;
    background-color:#757575;
    border: solid 3px black;
    border-radius: 20px;
    width:30%;
  /*  margin-right:auto;
    margin-left:auto;*/
    float: left;
    /*display: inline;*/
}


#leadText{
    font-family: 'Lora', serif;
    font-size: 45px;
    -webkit-animation-duration: 2s;
/*    text-align: center;
*/}

#userImg{
    margin-top:80px;
    padding:20px, 20px, 20px, 20px;
}
.menuImg{
    width:200px;
    height:200px;
    border:2px black solid;
}

.badge{
    background:rgb(62, 132, 193);
    /*background: rgba(44, 83, 158, 0.8);*/
    color: rgb(217, 237, 247);
}

#btnFilterNotes{
    float: left;
}

.introText{
    font-family: "Lora" serif;
    font-size: 22px;
    color:white;
    border-color: black;
    border-radius: 20px;
    padding:20px;
    /*width:30%;*/
    /*display: :inline-block;*/
}
.introText2{
    font-family: "Lora" serif;
    font-size: 22px;
    color:white;
    border-color: black;
    border-radius: 20px;
    padding:20px;
    /*width:30%;*/
    /*display: :inline-block;*/

}
/*users (soon to be home page)*/
figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
/*the following customized color navbar src: http://www.jquery2dotnet.com/2013/11/bootstrap-navigation-custom-design.html
.navbar {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    color: #fff;
    border-radius: 0;
}
a.navbar-brand {
    color: #fff !important;
}
.navbar-nav > li > a {
    color: #cdbfe3 !important;
}
.navbar-nav > .active a, .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #463265 !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff !important;
    background-color: #463265 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #463265 !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #463265 !important;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff !important;
    }
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff !important;
    background-color: transparent;
}
}*/

